/react_bachelor_work/node_modules
/react_bachelor_work/.pnp
/react_bachelor_work/.pnp.js


/coverage

/build

/react_bachelor_work/.DS_Store
/react_bachelor_work/.env.local
/react_bachelor_work/.env.development.local
/react_bachelor_work/.env.test.local
/react_bachelor_work/.env.production.local

/react_bachelor_work/npm-debug.log*
/react_bachelor_work/yarn-debug.log*
/react_bachelor_work/yarn-error.log*

/express_bachelor_work/node_modules
/express_bachelor_work/.env